<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: common-head"></head>

<body>


    <div th:replace="fragments/header :: common-header"></div>

<main class="container">
    <h1 th:text="'Best of the year by ' + ${name}" class="text-dark text-center my-4"></h1>


    <div th:replace="fragments/placeholder :: colored-card('warning', 'Img')"></div>


    <div th:replace="fragments/placeholder :: colored-card('success', 'Text')"> </div>


</main>


</body>

</html>